html, body {
    padding: 0px; 
    width: 1440px;
    margin: auto;
    font-family: 'Lato';

}
@font-face  {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff2') format('woff2'),
         url('fonts/Lato-Regular.woff') format('woff'), 
         url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Header section */

.header {
    width: 1440px;
    height: 665px;
    background-image: url(/images/group_10.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
}
.header_logo {
    position: relative;
    top: 61px;
    margin-left: 11.4%;
}
.header_text_1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;
    width: 38%;
    margin-top: 133px;
    margin-bottom: 30px;
    margin-left: 11.4%;
}
.header_text_2 {
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    width: 31%;
    margin-bottom: 50px;
    margin-left: 11.4%;
}
.store_logo {
    margin-left: 11.4%;
}
@media only screen and (max-width: 900px){
    
}
@media only screen and (max-width: 360px) {
    html,body {
        padding: 0px; 
        width: 100%;
        margin: auto;
        font-family: 'Lato';
        text-align: center;
        
    }
    .header {
        width: 100%;
        height: 525px;
        background-image: none;
        background-color: #F4F6F9;
        background-size: 100%;
    }
    .header_logo {
        position: relative;
        top: 32px;
        margin: 0px;
    }
    .header_text_1 {
        font-weight: bold;
        font-size: 30px;
        line-height: 39.6px;
        letter-spacing: 0.03em;
        color: #333333;
        width: 88%;
        margin: 86px auto 33px auto;
    }
    .header_text_2 {
        font-size: 16px;
        line-height: 23px;
        width: 88%;
        margin: 0px auto 50px auto;
    }
    .store_logo {
        width: 330px;
        margin: 0px 5%;
        display: flex;
        justify-content: space-between;
    }
    .store_logo_modifier {
        width: 145px;
        height: 44px;
    }
}
/* Info Section */

.info_1, .info_2 {
    width: 100%;
    height: 592px;
    display: flex; 
}

.info_1_left {
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(/images/info_section_background.png) ;
    background-repeat: no-repeat;
    width: 55%;
    height: 100%;
}
.info_1_text {
    width: 29.5%;
    height: 335px;
    justify-content: space-between;
    margin-top: 133px;
    display: flex;
    flex-direction: column;
}
.info_1_box_1 {
    display: flex;
    justify-content: space-between;
    width: 44%;
    height: 218px;
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-left: 20%;
    position: relative;
    top: 109px;
}
.box_1_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 139px;
    margin-left: 15px;
    margin-top: 20px;
    width: 123px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.box_1_logos {
    position: relative;
    top: 46px;
}
#arsenal_logo {
    position: relative;
    left: 15px;
    z-index: 1;
}
#chelsea_logo {
    z-index: 2;
    position: relative;
    right: 10px;
}
#box_1_notifications {
    width: 42%;
    height: 36px;
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    position: relative;
    left: 20%;
    top: 60px;
    font-size: 16.7px;
    line-height: 25px;
    color: #4F4F4F;
    padding-top: 13px;
    padding-left: 15px;
}
.text_modifier {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.text_modifier_2 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
#notifications_icon {
    position: absolute;
    margin-left: 33px;
}
.info_1_box_2 {
    margin-left: 32%;
}
.info_text_header {
    color: #00ADEE;
    font-size: 16px;
    font-weight: bold;
}
.info_title {
    color: #333333;
    font-size: 26px;
    font-weight: bold;
}
.info_text_1, .info_text_2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}
.info_text_footer {
    color: #00ADEE;
    font-weight: bold;
    font-size: 16px;
}
.info_container_2 {
    display: flex;
    width: 100%;
    
    background-image: url(/images/Group\ 672.png);
}
.info_2_text {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 12%;
    margin-top: 217px;
    height: 328px;
    justify-content: space-between;
    }

.info_2_image {
    position: relative;
    margin-left: 200px;
    top: 50px;
}

@media only screen and (max-width: 360px) {
    .info_1 {
        display: flex;
        flex-direction: column-reverse;
        align-items:center ;
        height: fit-content;
    }
    .info_1_text {
        width: 88.5%;
        height: 435px;
        justify-content: space-between;
        margin-top: 0px;
        position: relative;
        top: 100px;
    }
    .info_1_left {
        background:  linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(/images/background360px.png) ;
        transform: rotate(-90deg);
        width: 100%;
        position: relative;
        top: 250px;
        background-position: center;
    }
    .info_1_box_1 {
        display: flex;
        justify-content: space-between;
        width: 72%;
        height: 41%;
        background: #FFFFFF;
        border-radius: 2.74531px;
        
        position: relative;
        top: 89px;
        left: 120px;
        
        transform: rotate(90deg);
    }
    .box_1_text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 85px;
        margin-left: 15px;
        margin-top: 20px;
        width: 85px;
        font-size: 11px;
        line-height: 15px;
        text-align: start;
        z-index: 2;
    }
    .box_1_logos {
        position: relative;
        top: 26px;
    }
    #arsenal_logo {
        width: 46px;
        height: 57px;
    }
    #chelsea_logo {
        width: 57px;
        height: 57px;
    }
    #box_1_notifications {
        width: 245px;
        height: 33px;
        background: #EEEEEE;
        border-radius: 0px 0px 4px 4px;
        position: relative;
        left: 33%;
        top: 14px;
        font-size: 12.9587px;
        line-height: 17px;
        color: #4F4F4F;
        text-align: start;
        transform: rotate(90deg);
        z-index: 3;
    }
    #notification_icon {
        width: 22px;
        height: 14px;
    }
    .text_modifier {
        font-size: 12.3539px;
        line-height: 16px;
        font-weight: 500;
    }
    .text_modifier_2 {
        font-size: 11px;
        font-weight: normal;
        z-index: 1;
    }
    .info_1_box_2 {
        margin-left: 7%;
        position: relative;
        top: -35px;
    }
    #image_box_2 {
        width: 237px;
        height: 149px;
        transform: rotate(90deg);
    }
    .info_text_header, .info_text_1, .info_text_2, .info_title {
        margin-bottom: 20px;
    }
    .info_title {
        line-height: 37px;
    }
    .info_container_2{
        display: flex;
        flex-direction: column;
    }
    .info_2_text {
        position: relative;
        
        z-index: 1;
        height: 341px;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 340px auto 200px auto;
    }
    .info_2_image {
        position: relative;
        margin-left: 0px;
        top: -40px;
        background-image: url(/images/group_672_2.png);
        background-position-y: -40px;
        z-index: 2;
    }
    #phone_image {
        width: 202px;
        height: 411px;
        margin: auto;
        z-index: 3;
        position: relative;
        top: 60px;
    }
}

/* Features Section */

.features {
    width: 100%;
    height: 735px;
    background-color: #00ADEE;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.features_title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    
    margin: 57px auto 0px auto;
}
.features_text {
    display: flex;
    flex-direction: row;
    width: 77%;
    justify-content: space-between;
    margin-left: 11%;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}
.features_text_width {
    width: 27.5%;
}
.f_text_1 {
    margin-top: 54px;
}
.f_text_2 {
    margin-top: 45px;
}
.f_text_3 {
    margin-top: 31px;
}
#features_decoration {
    position: absolute;
}

@media only screen and (max-width: 360px) {
    .features {
        width: 87%;
        background: none;
        height: fit-content;
    }
    .features_title {
        color: #333333;
        margin: 57px 0px 0px 13%;
        text-align: center;
        
    }
    #features_decoration {
        display: none;
    }
    .features_text {
        display: flex;
        flex-direction: column;
        width: 88%;
        justify-content: inherit;
        margin-left: 17%;
        font-size: 16px;
        line-height: 23px;
        color: #333333;
    }
    .features_text_width {
        width: 88.5%;
        margin-top: 50px;
    }
    .svg_color {
        filter: invert(24%) sepia(46%) saturate(6451%) hue-rotate(163deg) brightness(99%) contrast(101%);
    }
    .point {
        display: none;
    }
    .f_text_1 {
        margin-top: 0px;
    }
    .f_text_2 {
        margin-top: 0px;
    }
    .f_text_3 {
        margin-top: 0px;
    }
}
/* Reviews Section */

.reviews {
    width: 100%;
    
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews_title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-top: 62px;
}
.reviews_container {
    margin-top: 63px;
    
    width: 100%;
    height: 161px;
    display: flex;
    justify-content: space-between;
    
}
.review_box {
    width: 21.5%;
    height: 161px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
}
.box_cut {
    background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
    border-radius: 4px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.review_box_top {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 17px;
    margin-top: 15px;
}
.review_box_user {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    position: relative;
    left: -40px;
    top: 7px;
}
.review_box_text {
    height: 74px;
    width: 90%;
    margin-top: 23px;
    margin-left: 17px;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

#reviews_divider {
    margin-top: 47px;

}
@media only screen and (max-width: 360px) {
    .reviews {
        width: 100%;
        height: fit-content;
    }
    .do_not_display {
        display: none;
    }
    .review_box {
        width: 85%;
        margin: auto;
        text-align: left;
    }
}
/* Featured Section */
.fetured_section {
    width: 100%;
    height: 278px;
}
.section_title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-top: 100px;
}
.featured_section_container {
    width: 75%;
    margin: auto;
    margin-top: 58px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.featured_box_1 {
    width: 30.3%;
    display: flex;
    justify-content: space-between;
}
.featured_box_2 {
    width: 36.7%;
    display: flex;
    justify-content: space-between;
}
.featured_box_3 {
    margin-top: 10px;
}

@media only screen and (max-width: 360px) {
    .fetured_section {
        width: 100%;
        height: fit-content;
    }
    .section_title {
        font-size: 20px;
    }
    .featured_section_container {
        width: 87%;
        margin: auto;
        margin-top: 58px;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .featured_box_1 {
        width: 100%;
        margin-top: 20px;
    }
    .featured_box_2 {
        width: 100%;
        margin-top: 20px;
    }
    .featured_box_3 {
        margin-top: 20px;
    }
}
/* Footer Section */

.footer_1st {
    width: 100%;
    height: 483px;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.footer_text {
    width: 37%;
    height: 285px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 25px;
    color: #4F4F4F;
}
.footer_text_logos {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.footer_text_title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}
@media only screen and (max-width: 360px){
    #footer_img {
        width: 360px;
        height: 261px;
        margin-top: 48px;
    }
    .footer_1st {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 90px;
        justify-content: space-between;
        align-items: center;
    }
    .footer_text {
        width: 85%;
        height: fit-content;
        margin-top: 0px;
        align-items: center;

    }
    .footer_text_info {
        margin-top: 15px;
    }
    .footer_text_logos {
        margin-top: 37px;
    }
}


.footer_bottom_navbar {
    width: 100%;
    height: 127px;
    background-color: #00ADEE;
}
.footer_bottom_1 {
    display: flex;
    justify-content: space-between;
    padding: 49px 11.3%;
}
.footer_navbar {
    width: 26%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -75px;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
@media only screen and (max-width: 600px) {

    .footer_bottom_navbar {
        width: 100%;
        height: 210px;
        display: flex;
        flex-direction: column;
    }
    .footer_bottom_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0px;
        position: relative;
        top: 41px;
        left: -111px;
    }
    .footer_social_logos {
        margin-top: 12px;
        position: relative;
        left: 10px;
    }
    .footer_margin {
        position: relative;
        margin-left: 17px;
    }

    .footer_navbar {
        width: 86%;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 0px;
        margin: ;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
}